<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegram.conferences.fullstackfest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FullStackFest"
        android:name=".MyApplication"
        >

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3b98ce5b0b5c8e5c5d5ca35a955e5e5131c3ef49" /> <!-- TODO: CHANGE BEFORE RELEASE! -->

        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:theme="@style/FullStackFest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TalkActivity"
            android:label="@string/title_activity_talk" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegram.conferences.fullstackfest.ListActivity" />
        </activity>

        <provider
            android:authorities="com.codegram.conferences.fullstackfest"
            android:name=".data.DatabaseProvider" />
    </application>

</manifest>
