<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegram.conferences.fullstackfest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Parse dependencies -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.codegram.conferences.fullstackfest.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.codegram.conferences.fullstackfest.permission.C2D_MESSAGE" />

    <!-- /Parse dependencies -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FullStackFest" >
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3b98ce5b0b5c8e5c5d5ca35a955e5e5131c3ef49" /> <!-- TODO: CHANGE BEFORE RELEASE! -->

        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:theme="@style/FullStackFest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TalkActivity"
            android:label="@string/title_activity_talk" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegram.conferences.fullstackfest.ListActivity" />
        </activity>

        <provider
            android:name=".data.DatabaseProvider"
            android:authorities="com.codegram.conferences.fullstackfest" />

        <!-- Parse dependencies -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".CustomReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.codegram.conferences.fullstackfest" />
            </intent-filter>
        </receiver>
        <!-- /Parse dependencies -->
        <service
            android:name=".services.FetchDataService"
            android:exported="false" >
        </service>
    </application>

</manifest>
